*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #fff; 
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu li{
    list-style: none;

}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}



.menu a:hover{
    background-color:rgb(0, 229, 167);
    color: #000000;
    transition: ease-in .4s;
    border: none;
    border-radius: 20px;

}

.brand{
    margin-top: -7px;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span{
    color:rgb(0, 229, 167);
}

.download-cv{
    padding: 10px 20px;
    background-color:rgb(0, 229, 167);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px aquamarine;
}

.download-cv:hover{
    background-color: #fff;
    box-shadow: none;
}

.main img{
    width: 450px;
    border: 7px solid rgb(0, 229, 167);
    height: 520px;
}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color:#000000;
}

.about img{
    width: 100%;
    grid-column: 1/5;
    border: 7px solid rgb(0, 229, 167);
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color:#fff;
}

.divider{
    height: 4px;
    width: 60px;
    background-color:rgb(0, 229, 167);
    margin-top: 10px;
    margin-bottom: 1em;
}

.about p{
    margin-bottom: 1em;
    color:#fff;
}

.container-contact{
    padding: 3em;
    margin:0 auto;
    background-color: #000000;
}

.contact-headings h2{
    font-size: 2em;
    background-color:#000000;
    color:#fff;
}

.contact-form{
    color:#fff;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff
}

.form textarea{
    height: 150px;
    background: none;
    color:#fff;
    padding: 2.5em;
    border: 1px solid #fff;
}

.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color:rgb(0, 229, 167);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px aquamarine;
}

.btn-submit:hover{
    background-color: #fff;
    box-shadow: none;
}
